.section {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.clients {
  list-style: none;
  padding: 0;
  margin: 0;
  // display: flex;
  // justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}
.clients__item {
  // margin-right: 30px;
  @media screen and (min-width: 480px) {
    width: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
}
// .clients__item:last-child {
//   margin-right: 0;
// }
.clients__link {
  // width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & :hover,
  :focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
