.flex-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-main {
  // display: flex;
  align-items: baseline;
  // @media screen and (min-width: 480px) {
  display: block;
  align-items: center;
  align-items: baseline;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    // padding-left: 76px;
    // padding-right: 89px;
    display: flex;
    align-items: baseline;
    // align-items: center;
    width: 100%;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    // margin: right 70px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-bottom: 0;
    // padding-top: 72px;
    // padding-bottom: 100px;
  }
}
.footer-address {
  // margin-right: 70px;
  // flex-grow: 1;
  // @media screen and (min-width: 480px) {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 0;
  }
}
.footer-logo {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    justify-content: center;
    text-align: center;
  }
}
.logo footer-logo {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-logo--blue {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;
  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2px;
  }

  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo--white {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
// .address-list__item:last-child {
//   @media screen and (min-width: 480px) {
//     margin-bottom: 60px;
//   }
// }
.address-list__item {
  // margin-bottom: 9px;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.address-list__item:last-child {
  margin-bottom: 0;
}

.address-list__li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}
.address-list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
  text-decoration: none;
}
.join {
  // margin-right: auto;
  // @media screen and (min-width: 480px) {
  display: block;
  // margin-bottom: 60px;

  @media screen and (max-width: 1199px) {
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    // display: flex;
    margin-left: 70px;
    margin-bottom: 0;
  }
}
.join__title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  justify-content: center;
  text-align: center;
  @media screen and (max-width: 1199px) {
    justify-content: center;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
  }
}
.join__list {
  list-style: none;
  padding: 0;
  margin: 0;
  // display: flex;
  justify-content: center;
  @media screen and (min-width: 480px) {
    width: 100%;
    margin-bottom: 0px;
  }
}
.join__item {
  margin-right: 10px;
}
.join__item:last-child {
  margin-right: 0;
}

.join__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
  }
}

/* Форма */
.form {
  // margin-left: 93px;
  // display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  // @media screen and (min-width: 1200px) {
  //   padding-top: 72px;
  //   padding-bottom: 94px;
  // }
}
.form__title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  @media screen and (max-width: 1199px) {
    justify-content: center;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
  }
}
.form__input-block {
  @media screen and (min-width: 480px) {
    justify-content: center;
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.form__post {
  // width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  // @media screen and (min-width: 480px) {
  //   width: 450px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }
}
.form__button {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-width: 200px;
  // margin-left: 12px;
  padding: 10px 28px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
  // @media screen and (min-width: 480px) {
  width: 200px;
  height: 50px;
  // margin-bottom: 20px;
  display: block;
  // justify-content: center;
  // align-items: center;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 50px;
    display: flex;
    // margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 200px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
  }
}
.form__icon {
  margin-left: 10px;
  fill: var(--white-color);
}
