.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-main {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
  flex-grow: 1;
}
.footer-logo {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.logo footer-logo {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-logo--blue {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo--white {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.address-list__item {
  margin-bottom: 9px;
}
.address-list__item:last-child {
  margin-bottom: 0;
}
.address-list__li {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}
.address-list__link {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
  text-decoration: none;
}
.join {
  margin-right: auto;
}
.join__title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.join__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.join__item {
  margin-right: 10px;
}
.join__item:last-child {
  margin-right: 0;
}

.join__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
  }
}

/* Форма */
.form {
  margin-left: 93px;
}
.form__title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.form__input-block {
  display: flex;
}
.form__post {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
.form__icon {
  margin-left: 10px;
  fill: var(--white-color);
}
