.header__container {
  @media screen and (min-width: 480px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    display: flex;
    // justify-content: space-between;
  }
}
// .header-nav {
//   display: flex;
//   align-items: center;
// }
.header__logo {
  text-decoration: none;
  margin-right: 93px;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 12px;
  }
}
.logo header__logo {
  text-decoration: none;
  margin-right: 93px;
  display: flex;
}
.header__logo-blue {
  font-family: 'Raleway';
  font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;
  font-size: 24px;
  line-height: 1.16;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header__logo-black {
  font-family: 'Raleway';
  font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;
  font-size: 24px;
  line-height: 1.16;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
  letter-spacing: 0.03em;
  color: var(--third-title-text-color);
}
.menu-list__link current {
  position: absolute;
  width: 48px;
  height: 4px;
  left: 453px;
  top: 76px;
  background: var(--accent-color);
  border-radius: 2px;
}
/* Site nav */
.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.connection-list {
  // padding: 0;
  // margin: 0;
  list-style: none;
  // display: flex;
  // justify-content: end;
  // align-items: center;
  // @media screen and (min-width: 1200px) {
  //   display: flex;
  // }
}
@media screen and (min-width: 768px) {
}
.menu-list__item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.menu-list__item:last-child {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}
.connection-list__item {
  @media screen and (min-width: 768px) {
    padding-top: 21px;
  }
}
.connection-list__item:last-child {
  @media screen and (min-width: 768px) {
    padding-bottom: 21px;
  }
}

.connection-list__item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.connection-list__item:last-child {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.connection-list .connection-list__icon-envelope:hover,
.connection-list .connection-list__icon-envelope:focus {
  fill: var(--accent-color);
}

.menu-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.menu-list__link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.connection-list__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-list__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.connection-list__link {
  // padding-top: 32px;
  // padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  // display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    //   display: flex;
    //   flex-wrap: wrap;
    // }
  }
}
.mob-social {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  @media screen and (min-width: 480px) {
    display: flex;
    // flex-wrap: wrap;
  }
}

// .mob-social__link {
//   margin-right: 20px;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.2;
//   color: var(--accent-color);
// }
