.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header__logo {
  text-decoration: none;
  margin-right: 93px;
  display: flex;
}
.logo header__logo {
  text-decoration: none;
  margin-right: 93px;
  display: flex;
}
.header__logo-blue {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header__logo-black {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--third-title-text-color);
}
.menu-list__link current {
  position: absolute;
  width: 48px;
  height: 4px;
  left: 453px;
  top: 76px;
  background: var(--accent-color);
  border-radius: 2px;
}
/* Site nav */
.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  // display: flex;
  // @media screen and (min-width: 480px) {
  //   display: block;
  // }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.connection-list {
  padding: 0;
  margin: 0;
  list-style: none;
  // display: flex;
  justify-content: end;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: block;
    justify-content: end;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: column;
  }
}
.menu-list__item {
  margin-right: 50px;
}
.menu-list__item:last-child {
  margin-right: 0;
}
.connection-list__item {
  margin-right: 50px;
}
.connection-list__item:last-child {
  margin-right: 0;
}

.connection-list .connection-list__icon-envelope:hover,
.connection-list .connection-list__icon-envelope:focus {
  fill: var(--accent-color);
}

.menu-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.menu-list__link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.connection-list__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-list__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--accent-color);
  }
}
// .mob-social {
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   display: flex;
// }
// .mob-social__link {
//   margin-right: 20px;
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.2;
//   color: var(--accent-color);
// }
