.filter {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--primery-background-color);
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
.filter-list .filter-list__item:not(:last-child) {
  margin-right: 8px;
}
.filter-list .filter-list__item {
  margin-bottom: 15px;
  justify-content: center;
  display: inline-block;
}
.filter-list__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background: var(--secondary-background-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--white-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* Картинки */
p,
h2 {
  margin: 0;
}
.pictures-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.pictures-list .pictures-list__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}
.project-link__card-thumb {
  position: relative;
  overflow: hidden;
}
.pictures-list__item {
  background: var(--primery-background-color);
}

.project-link__text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  overflow-y: scroll;
  color: var(--white-color);
  background-color: var(--accent-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heading-meta {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}
.heading-meta__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.heading-meta__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.project-link:hover .project-link__text,
.project-link:focus .project-link__text {
  transform: translateY(0);
}
