.section {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.specifics-list__box {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: #f5f4fa;
}
.specifics-list {
  list-style: none;
  padding: 0;
  margin: 0;
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 25%;
  }
}
.specifics-list__item {
  // margin-right: 30px;
  width: 270px;
  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 25%;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
}
// .specifics-list__item:last-child {
//   margin-right: 0;
// }
.specific-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primery-text-color);
}
h1,
h2,
h3,
p {
  margin: 0;
}
.specific-list__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
