.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.address-list__item {
  margin-bottom: 9px;
}
.address-list__item:last-child {
  margin-bottom: 0;
}
.address-list__li {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}
.address-list__link {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
  text-decoration: none;
}
