.header {
  border-bottom: 1px solid #ececec;
  display: flex;
}
.header__container {
  display: flex;
  align-items: center;
  position: relative;
}
.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu-list__item {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.menu-list__item:last-child {
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}
.menu-list__link current {
  position: absolute;
  width: 48px;
  height: 4px;
  left: 453px;
  top: 76px;
  background: var(--accent-color);
  border-radius: 2px;
}
.menu-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.menu-list__link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.connection-list {
  list-style: none;

  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}
.connection-list__item:last-child {
  @media screen and (max-width: 1199px) {
    margin-top: 10px;
  }
}
.connection-list__item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.connection-list__item:last-child {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.connection-list .connection-list__icon-envelope:hover,
.connection-list .connection-list__icon-envelope:focus {
  fill: var(--accent-color);
}
.connection-list__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-list__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.connection-list__link-mail {
  @media screen and (max-width: 1199px) {
    padding-top: 21px;
  }
}
.connection-list__link-tel {
  @media screen and (max-width: 1199px) {
    display: block;
    // padding-top: 10px;
    padding-bottom: 21px;
  }
}

.menu-button {
  display: inline-block;
  position: absolute;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  // padding: 12px 8px;
  top: 10px;
  right: 15px;
  border: none;
  width: 40px;
  height: 40px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu-btn {
  display: inline-block;
  position: absolute;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 15px;
  border: none;
  width: 40px;
  height: 40px;
  color: #212121;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icon-menu {
  fill: currentColor;
}
.close-cross {
  fill: currentColor;
}
.menu-button .close-cross {
  display: none;
}
.menu-button.is-open .close-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: block;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 767px;
  background-color: #ffffff;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    visibility: hidden;
    opacity: 0;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  // background-color: #ffffff;
  margin-bottom: auto;
}
.men-list {
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.men-list__item {
  margin-bottom: 32px;
}
.men-list__item:last-child {
  margin-bottom: 0;
}
.men-list__link current {
  position: absolute;
  width: 48px;
  height: 4px;
  left: 453px;
  top: 76px;
  background: var(--accent-color);
  border-radius: 2px;
}
.men-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
}
.men-list__link:hover,
.men-list__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.men-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.connect-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 64px;
}
.connect-list__item {
  margin-bottom: 32px;
}
.connect-list__item:last-child {
  // @media screen and (min-width: 768px) {
  //   margin-top: 10px;
  margin-bottom: 0;
}

.connect-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.connect-list__link-li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.connect-list__icon-envelope {
  display: none;
}
.connect-list__icon-smartphone {
  display: none;
}

.mob-social {
  padding-left: 40;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.mob-social__item {
  margin-right: 20px;
}
.mob-social__item:last-child {
  margin-right: 0;
}
.mob-social__item:not(:last-child) {
  position: relative;
}
.mob-social__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
.mob-social__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-color);
  justify-content: center;
  text-decoration: none;
}
