.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  &.is-open {
    display: block;
  }
}
