.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  display: flex;
}
.navigation {
  top: 0;
  left: 0;
}
.men-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}
.men-list__item {
  margin-left: 0;
}
// .men-list__item:last-child {
//   margin-bottom: 302px;
// }
.men-list__link current {
  position: absolute;
  width: 48px;
  height: 4px;
  left: 453px;
  top: 76px;
  background: var(--accent-color);
  border-radius: 2px;
}
.men-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
}
.men-list__link:hover,
.men-list__link:focus {
  color: var(--accent-color);
}
.men-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.connect-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.connect-list__item {
  margin-left: 40px;
  margin-bottom: 32px;
}
.connect-list__item:last-child {
  margin-bottom: 64px;
}
.connect-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--accent-color);
  }
}
.connect-list__icon-envelope {
  @media screen and (min-width: 480px) {
    display: none;
  }
}
.connect-list__icon-smartphone {
  @media screen and (min-width: 480px) {
    display: none;
  }
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  // display: flex;
  flex-direction: column;
  //   @media screen and (max-width: 767px) {
  //     display: flex;
  //   }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.menu-list__item {
  margin-right: 50px;
}
.menu-list__item:last-child {
  margin-right: 0;
}
.menu-list__link current {
  position: absolute;
  width: 48px;
  height: 4px;
  left: 453px;
  top: 76px;
  background: var(--accent-color);
  border-radius: 2px;
}
.menu-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.menu-list__link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.connection-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  //   @media screen and (min-width: 480px) {
  //     display: block;
  //   }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  //   @media screen and (min-width: 768px) {
  //     margin-left: 84px;
  //   }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.connection-list__item {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.connection-list__item:last-child {
  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.connection-list .connection-list__icon-envelope:hover,
.connection-list .connection-list__icon-envelope:focus {
  fill: var(--accent-color);
}
.connection-list__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-list__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.connection-list__link {
  //   padding-top: 32px;
  //   padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  //   display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
  }
}

.menu-button {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover,
  :focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    display: none;
  }
}
.icon-menu {
  padding: 10px;
  fill: currentColor;
}
.close-cross {
  padding: 10px, 15px;
  fill: currentColor;
}
.menu-button .close-cross {
  display: none;
}
.menu-button.is-open .close-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding: 0;
  text-align: center;
  &.is-open {
    display: block;
  }
}
.mob-social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.mob-social__link {
  margin-right: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-color);
  justify-content: center;
}
