.filter {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--primery-background-color);
}
.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .filter-list__item:not(:last-child) {
  margin-right: 8px;
}
.filter-list .filter-list__item {
  justify-content: center;
  display: inline-block;
}
.filter-list__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background: var(--secondary-background-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    :focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

