p,
h2 {
  margin: 0;
}
.pictures-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.pictures-list .pictures-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.project-link__card-thumb {
  position: relative;
  overflow: hidden;
}
.pictures-list__item {
  background: var(--primery-background-color);
}

.project-link__text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--white-color);
  background-color: var(--accent-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heading-meta {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.heading-meta__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.heading-meta__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project-link:hover .project-link__text,
.project-link:focus .project-link__text {
  transform: translateY(0);
}
