.soc-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.soc-list__item {
  margin-right: 10px;
}
.soc-list__item:last-child {
  margin-right: 0;
}
.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}
}

