:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --secondary-title-text-color: rgba(255, 255, 255, 0.6);
  --third-title-text-color: #000000;
  --accent-color: #2196f3;
  --primery-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --white-color: #ffffff;
  --footer-color: #2f303a;
}
