.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.menu-list__item {
  margin-right: 50px;
}
.menu-list__item:last-child {
  margin-right: 0;
}

.menu-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
  color: var(--accent-color);
}
}
.menu-list__link.current {
  color: var(--accent-color);
  position: relative;
}
.menu-list__link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.menu-list__link current {
  position: absolute;
  width: 48px;
  height: 4px;
  left: 453px;
  top: 76px;
  background: var(--accent-color);
  border-radius: 2px;
}
